# Use with: uv pip install --index-strategy=unsafe-best-match -r server/requirements.txt
numpy
git+https://github.com/huggingface/diffusers.git
llvmlite>=0.39.0
numba>=0.56.0
transformers<4.52
pydantic
huggingface-hub
hf_transfer
fastapi
uvicorn[standard]
Pillow==11.0.0
accelerate
compel==2.0.2
controlnet-aux==0.0.9
peft>=0.17.0
markdown2
safetensors
setuptools
mpmath
controlnet-aux
sentencepiece
optimum-quanto==0.2.5
gguf
types-Pillow
mypy
python-dotenv
requests>=2.31.0  # Added explicitly to resolve dependency conflict

--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.5.1
torchvision
torchaudio
xformers; sys_platform != 'darwin' or platform_machine != 'arm64'
pruna[stable-fast] ; sys_platform != 'darwin' or platform_machine != 'arm64'
nvidia-ml-py
torchao==0.10.0
