git+https://github.com/huggingface/diffusers
transformers==4.36.2
--extra-index-url https://download.pytorch.org/whl/cu121;
torch
fastapi==0.108.0
uvicorn[standard]==0.25.0
Pillow==10.2.0
accelerate==0.25.0
compel==2.0.2
controlnet-aux==0.0.7
peft==0.6.0
xformers; sys_platform != 'darwin' or platform_machine != 'arm64'
markdown2
stable_fast @ https://github.com/chengzeyi/stable-fast/releases/download/v1.0.2/stable_fast-1.0.2+torch211cu121-cp310-cp310-manylinux2014_x86_64.whl; sys_platform != 'darwin' or platform_machine != 'arm64'
oneflow @ https://github.com/siliconflow/oneflow_releases/releases/download/community_cu121/oneflow-0.9.1.dev20240123+cu121-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl; sys_platform != 'darwin' or platform_machine != 'arm64'
git+https://github.com/siliconflow/onediff.git@main#egg=onediff; sys_platform != 'darwin' or platform_machine != 'arm64'